# Introduction to SQL

Bienvenue dans cette série de leçons et d'exercices interactifs conçus pour vous aider à apprendre rapidement SQL directement dans votre navigateur.

## Qu'est-ce que SQL?

SQL, ou Structured Query Language, est un langage conçu pour permettre aux utilisateurs techniques et non techniques d'interroger, de manipuler et de transformer des données à partir d'une base de données relationnelle. Et en raison de sa simplicité, les bases de données SQL fournissent un stockage sûr et évolutif pour des millions de sites Web et d'applications mobiles.

**Le saviez-vous?** Il existe de nombreuses bases de données SQL populaires, notamment SQLite, MySQL, Postgres, Oracle et Microsoft SQL Server. Tous prennent en charge la norme de langage SQL commune, ce que ce site enseignera, mais chaque implémentation peut différer par les fonctionnalités supplémentaires et les types de stockage qu'elle prend en charge.

## Bases de données relationnelles

Avant d'apprendre la syntaxe SQL, il est important d'avoir un modèle pour ce qu'est réellement une base de données relationnelle. Une base de données relationnelle représente une collection de tables liées (bidimensionnelles). Chacun des tableaux est similaire à une feuille de calcul Excel, avec un nombre fixe de colonnes nommées (les attributs ou propriétés de la table) et un nombre quelconque de lignes de données.

Par exemple, si le Department of Motor Vehicles avait une base de données, vous pourriez trouver un tableau contenant tous les véhicules connus que les gens de l'État conduisent. Ce tableau peut avoir besoin de stocker le nom du modèle, le type, le nombre de roues et le nombre de portes de chaque véhicule par exemple.

In [1]:
import pandas as pd

def to_df(s):
    l= [elt.split(';') for elt in s.replace("1", ";").split('\n')]
    return pd.DataFrame(l[1:], columns=l[0])

In [2]:
x = """Id	Make/Model	# Wheels	# Doors	Type
1	Ford Focus	4	4	Sedan
2	Tesla Roadster	4	2	Sports
3	Kawakasi Ninja	2	0	Motorcycle
4	McLaren Formula 1	4	0	Race
5	Tesla S	4	4	Sedan"""
Vehicles = to_df(x)

AssertionError: 1 columns passed, passed data had 2 columns

In [3]:
Vehicles

  Id         Make/Model # Wheels # Doors        Type
0  1         Ford Focus        4       4       Sedan
1  2     Tesla Roadster        4       2      Sports
2  3     Kawakasi Ninja        2       0  Motorcycle
3  4  McLaren Formula 1        4       0        Race
4  5            Tesla S        4       4       Sedan

Dans une telle base de données, vous pouvez trouver des tableaux connexes supplémentaires contenant des informations telles qu'une liste de tous les conducteurs enregistrés dans l'État, les types de permis de conduire qui peuvent être accordés, ou même des violations de conduite pour chaque conducteur.

En apprenant SQL, l'objectif est d'apprendre à répondre à des questions spécifiques sur ces données, telles que * «Quels types de véhicules sur la route ont moins de quatre roues?» *, Ou * «Combien de modèles de voitures Tesla produit-il? "*, pour nous aider à prendre de meilleures décisions plus tard.

## À propos des leçons

Étant donné que la plupart des utilisateurs apprendront SQL à interagir avec une base de données existante, les leçons commencent par vous présenter les différentes parties d'une requête SQL. Les leçons suivantes vous montreront ensuite comment modifier une table (ou un schéma) et créer de nouvelles tables à partir de zéro.

Chaque leçon présentera un concept différent et se terminera par un exercice interactif. Allez à votre rythme et n'ayez pas peur de passer du temps à expérimenter les exercices avant de continuer! Si vous êtes déjà familiarisé avec SQL, vous pouvez sauter en utilisant les liens en haut à droite, mais nous vous recommandons de suivre les leçons quand même!

À la fin, nous espérons que vous serez en mesure d'avoir une base solide pour utiliser SQL dans vos propres projets et au-delà.

## Installation

Installer ce package afin de pouvoir executer des commandes sql

In [3]:
!pip install pandasql

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
Requirement already satisfied: numpy in /root/.local/share/virtualenvs/code-AFz48Hjb/lib/python3.6/site-packages (from pandasql) (1.19.5)
Requirement already satisfied: pandas in /root/.local/share/virtualenvs/code-AFz48Hjb/lib/python3.6/site-packages (from pandasql) (0.20.3)
Collecting sqlalchemy
  Downloading SQLAlchemy-1.3.23-cp36-cp36m-manylinux2010_x86_64.whl (1.3 MB)
     |████████████████████████████████| 1.3 MB 226 kB/s eta 0:00:01     |██████████████████▊             | 737 kB 180 kB/s eta 0:00:03     |████████████████████▌           | 808 kB 180 kB/s eta 0:00:03     |███████████████████████████▊    | 1.1 MB 209 kB/s eta 0:00:01
Requirement already satisfied: pytz>=2011k in /root/.local/share/virtualenvs/code-AFz48Hjb/lib/python3.6/site-packages (from pandas->pandasql) (2021.1)
Requirement already satisfied: python-dateutil>=2 in /root/.local/share/virtualenvs/code-AFz48Hjb/lib/python3.6/site-packages (from pandas->pandasql) (2.8.1)
Requirement already satisfied: six>=1.5 in /root/.local/share/virtualenvs/code-AFz48Hjb/lib/python3.6/site-packages (from python-dateutil>=2->pandas->pandasql) (1.15.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26818 sha256=b229ea16d766d18fed81622bd121bfbbf649dad777e7946e8a38d768eefced23
  Stored in directory: /root/.cache/pip/wheels/a6/64/11/62d5f7b88421a5d80068ac9937fe2915e497da3eba900c8f59
Successfully built pandasql
Installing collected packages: sqlalchemy, pandasql
Successfully installed pandasql-0.7.3 sqlalchemy-1.3.23