# Consignes

Description
Ouvrir le fichier sanctionspolices.csv



Etapes et requêtes réaliser:

1) Récupérer les 5 projets ayant reçu le plus de promesse de dons.
2) Compter le nombre de projets ayant atteint leur but.
3) Compter le nombre de projets pour chaque catégorie.
4) Compter le nombre de projets français ayant été instanciés avant 2016.
5) Récupérer les projets américains ayant demandé plus de 200 000 dollars.
6) Compter le nombre de projet ayant "Sport" dans leur nom

In [1]:
!pip install 'pymongo[srv]'

Requirement already satisfied: pymongo[srv] in /root/.local/share/virtualenvs/code-AFz48Hjb/lib/python3.6/site-packages (3.5.1)
WARNING: pymongo 3.5.1 does not provide the extra 'srv'

In [2]:
import pandas as pd
import pymongo

In [3]:
from pymongo import MongoClient
client = pymongo.MongoClient("mongodb://magtkt:perso@cluster0-shard-00-00.uhzlx.mongodb.net:27017,cluster0-shard-00-01.uhzlx.mongodb.net:27017,cluster0-shard-00-02.uhzlx.mongodb.net:27017/?ssl=true&authMechanism=SCRAM-SHA-1")
database = client['exercices']
collection_po = database['Polices']

In [4]:
df_ks = pd.read_csv("./sanctionspolice.csv")
df_ks.head()

,annee,groupe,sanction,sexe,nombre,motif,type_sanction,source,conseil_discpline
0,1990,1,Avertissement,NaN,1061.0,NaN,NaN,journal officiel du Sénat du 12 octobre 2000,NaN
1,1990,1,Blâme,NaN,1000.0,NaN,NaN,journal officiel du Sénat du 12 octobre 2000,NaN
2,1990,2,Radiation du tableau d'avancement,NaN,1.0,NaN,NaN,journal officiel du Sénat du 12 octobre 2000,NaN
3,1990,2,Abaissement d'échelon,NaN,104.0,NaN,NaN,journal officiel du Sénat du 12 octobre 2000,NaN
4,1990,2,Déplacement d'office,NaN,45.0,NaN,NaN,journal officiel du Sénat du 12 octobre 2000,NaN

# Nettoyer les données

In [7]:
df_ks = df_ks.dropna(subset=['groupe'])
df_ks.rename(columns={'ID':'_id'}, inplace=True)
l_d =df_ks.to_dict(orient='records')

# Importer les données

In [8]:
collection_po.delete_many({})
collection_po.insert_many(l_d)

# Test pour avoir une liste

In [9]:
cur = collection_po.find().sort([("annee", -1)]).limit(5)
list(cur)

[{'_id': ObjectId('602e98d30f6d800066e12549'),
  'annee': 2019,
  'groupe': 2,
  'sanction': nan,
  'sexe': nan,
  'nombre': 62.0,
  'motif': nan,
  'type_sanction': nan,
  'source': "Rapport d'activité IGPN 2019",
  'conseil_discpline': nan},
 {'_id': ObjectId('602e98d30f6d800066e12548'),
  'annee': 2019,
  'groupe': 1,
  'sanction': 'Blâme',
  'sexe': nan,
  'nombre': 595.0,
  'motif': nan,
  'type_sanction': nan,
  'source': "Rapport d'activité IGPN 2019",
  'conseil_discpline': nan},
 {'_id': ObjectId('602e98d30f6d800066e1254b'),
  'annee': 2019,
  'groupe': 4,
  'sanction': nan,
  'sexe': nan,
  'nombre': 39.0,
  'motif': nan,
  'type_sanction': nan,
  'source': "Rapport d'activité IGPN 2019",
  'conseil_discpline': nan},
 {'_id': ObjectId('602e98d30f6d800066e1254a'),
  'annee': 2019,
  'groupe': 3,
  'sanction': nan,
  'sexe': nan,
  'nombre': 82.0,
  'motif': nan,
  'type_sanction': nan,
  'source': "Rapport d'activité IGPN 2019",
  'conseil_discpline': nan},
 {'_id': ObjectId('602e98d30f6d800066e12547'),
  'annee': 2019,
  'groupe': 1,
  'sanction': 'Avertissement',
  'sexe': nan,
  'nombre': 900.0,
  'motif': nan,
  'type_sanction': nan,
  'source': "Rapport d'activité IGPN 2019",
  'conseil_discpline': nan}]